* {
  margin: 0;
  padding: 0;
  text-decoration: none
}

body {
  background: white;
}

header {
  padding:5px 20px;

  .logo {
    position: relative;
    z-index: 123;
    padding: 5px;
    color: white;
    float: left;
    width: 15%

  }
  .logo a {
    color: white;
  }

  nav {
    position: relative;
    /* width: 980px; */
    margin: 0 auto;
  }

  #cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #cssmenu:after, #cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
  }

  #cssmenu #head-mobile {
    display: none
  }

  #cssmenu {
    font-family: sans-serif;
    background: white;
    float: right;
  }

  #cssmenu > ul > li {
    float: left
  }

  #cssmenu > ul > li > a {
    padding: 17px;
    font-size: 0.5em;
    letter-spacing: 1px;
    text-decoration: none;
    color:#b4c3bb ;
    font-weight: 700;
  }

  #cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #b4c3bb
  }

  #cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
    background: #444 !important;
    -webkit-transition: background .3s ease;
    -ms-transition: background .3s ease;
    transition: background .3s ease;
  }

  @media screen and (max-width: 700px) {
    .logo {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46px;
      text-align: center;
      padding: 10px 0 0 0;
      float: none
    }

    .logo2 {
      display: none
    }

    nav {
      width: 100%;
    }

    #cssmenu {
      width: 100%
    }

    #cssmenu ul {
      width: 100%;
      display: none
    }

    #cssmenu ul li {
      width: 100%;
      border-top: 1px solid #444
    }

    #cssmenu ul li:hover {
      background: #363636;
    }

    #cssmenu ul ul li, #cssmenu li:hover > ul > li {
      height: auto
    }

    #cssmenu ul li a, #cssmenu ul ul li a {
      width: 100%;
      border-bottom: 0
    }

    #cssmenu > ul > li {
      float: none
    }

    #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
      display: none
    }

    #cssmenu #head-mobile {
      display: block;
      padding: 23px;
      color: white;
      font-size: 12px;
      font-weight: 700
    }

    .button {
      width: 55px;
      height: 46px;
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      z-index: 12399994;
    }

    .button:after {
      position: absolute;
      top: 22px;
      right: 20px;
      display: block;
      height: 4px;
      width: 20px;
      border-top: 2px solid #dddddd;
      border-bottom: 2px solid #dddddd;
      content: ''
    }

    .button:before {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      position: absolute;
      top: 16px;
      right: 20px;
      display: block;
      height: 2px;
      width: 20px;
      background: #ddd;
      content: ''
    }

    .button.menu-opened:after {
      -webkit-transition: all .3s ease;
      -ms-transition: all .3s ease;
      transition: all .3s ease;
      top: 23px;
      border: 0;
      height: 2px;
      width: 19px;
      background: #fff;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg)
    }

    .button.menu-opened:before {
      top: 23px;
      background: #fff;
      width: 19px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg)
    }

    #cssmenu ul ul ul li.active a {
      border-left: none
    }

  }

}